 /* Ny index sida */

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:wght@300&family=Montserrat&family=Source+Sans+Pro:wght@300&display=swap');

 body {
    margin: 0;
    background-color: rgba(124, 124, 124, 0.121);

}

.con {
    display: grid;
    height: 100vh;
    width:100vw;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        'se se'
        'ss sr'
        'ss sr'

}

#s1 {
    grid-area: se;
    display: flex;
    font-family:cherry bomb one;
    background-image: url(../img/glång.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items:center;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.795);

}

#s2 {
    grid-area: ss;
    margin: 0.25rem;
    display: flex;
    background-image: url(../img/siriuss.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items:center;
}

#s3 {
    grid-area: sr;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    font-family: 'Source Sans Pr';
    display: flex;
    width: 98%;
    background-image: url(../img/glång.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items:center; 
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

}

#s3 h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    font-family: Source Sans Pro;
}

a {
    color: rgb(202, 163, 163);

}

a:hover {
    color: rgb(163, 132, 212)
}

/* Ny index sida */


