body{
    margin: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    's1 s1 s1'
    's2 s2 s2'
    's3 s3 s3'

}


#sn1 {
    grid-area: s1;
    background-color: rgb(227, 227, 227);
    
}

#sn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: s2;
    background-image: url(../img/teleskop.jpg);
    background-size: cover;
    background-position: center;
    font-size: 1,5rem;
    color:white;
}

a{
    color: white;
    
}

a:hover{
    color:rgb(66, 97, 66)
}
#sn3{
    grid-area: s3;
    background-color: rgb(227, 227, 227);
}


/* Anpassad för datorskärm, sålänge sidan är större än 400px kommer det här att visas */

@media screen and (min-width: 400px) {

#sn2{
    font-size: 2rem;}

}


/*-------------------------------------------------------------------------------------------

.om_bergsjon{
    
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'hd hd'
    'ar ar'
    'b1 b1'
    't1 t1'
    'b2 b2'
    't2 t2'
    'b3 b3'
    't3 t3'
    'ft ft'



}

header{
    grid-area: hd;
    color: rgb(252, 255, 252);
    margin: 0;
    background-image: url(../img/teleskop.jpg);
    background-size: cover;
    background-position: center; 
    
}

.titel{
    text-align: center;
    color: rgb(255, 255, 255);
    
}

article {
    margin:0;
    grid-area: ar;
    color: rgb(15, 5, 5);
    text-align: center;
}

#b1 {
    grid-area: b1;
    margin:1rem;
    background-image: url(../img/pizzaa.png) ;
    background-size: cover;
    background-position: center;   
}

#b2 {
    grid-area: b2;
    margin:1rem;
    background-image: url(../img/pizzaa.png) ;
    background-size: cover;
    background-position: center;   
}

#b3 {
    grid-area: b3;
    margin:1rem;
    background-image: url(../img/red.png) ;
    background-size: cover;
    background-position: center;   
}


#t1 {
    grid-area: t1;
    margin: 1rem;
    font-size: 1rem;
    color:black;
}

#t2 {
    grid-area: t2;
    margin:1rem;
    color:purple;
}

#t3 {
    grid-area: t3;
    margin:1rem;
    color:pink;
}

footer {
    grid-area: ft;
    color: rgb(0, 0, 0)28, 0, 0;
    background-color: aliceblue;
    border:double;


}



/* ---------------------------------------------------*/
.menu{
    height: 100vh;
    width: 50vw;
    background: rgb(253, 192, 222);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}



.menu-button{
    cursor: pointer;
    display: inline;
    position: left;
    left: 10px;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}



.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

/*--------------------------------------------------------------*/

.om_bergsjon{
    
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'hd hd'
    'ar ar'
    'me me'
    'ft ft'



}

header{
    grid-area: hd;
    color: rgb(252, 255, 252);
    margin: 0;
    background-image: url(../img/teleskop.jpg);
    background-size: cover;
    background-position: center; 
    
}

.titel{
    text-align: center;
    color: rgb(255, 255, 255);
    
}

article {
    margin:0;
    grid-area: ar;
    color: rgb(15, 5, 5);
    text-align: center;
}

.mat{
    display: flex;
    grid-area: me;
    flex-direction: column;
    justify-content: space-between;
}

.mat-item img {
    width: 100%;
    
}


#b1 {
    margin:1rem;
    background-size: cover;
    background-position: center;   
}

#b2 {
    margin:1rem;
    background-size: cover;
    background-position: center;   
}

#b3 {
    margin:1rem;
    background-size: cover;
    background-position: center;   
}


#t1 {
    margin: 1rem;
    font-size: 1rem;
    color:black;
}

#t2 {
    margin:1rem;
    color:purple;
}

#t3 {
    margin:1rem;
    color:pink;
}

footer {
    grid-area: ft;
    display: flex;
    color: rgb(0, 0, 0)28, 0, 0;
    background-color: aliceblue;
    border:double;


}