body {
    margin: 0;
    background-color: rgba(124, 124, 124, 0.121);

}

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:wght@300&family=Montserrat&family=Source+Sans+Pro:wght@300&display=swap');


.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        's1 s1 s1'
        's2 s2 s2'
        's3 s3 s3'

}



#sn1 {
    grid-area: s1;
    margin: 2rem;
    display: flex;
    background-image: url(../img/teleskop_liten.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items:center;
    font-size: 1.5rem;
    color: white;

}

#sn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: s2;
    background-image: url(../img/teleskop_liten.jpg);
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    color: white;
}

a {
    color: white;

}

a:hover {
    color: rgb(66, 97, 66)
}

#sn3 {
    grid-area: s3;
    background-color: rgb(227, 227, 227);
}






@media screen and (max-width: 450px) {

    .topbar {
        display: none;
    }

    .om_bergsjon {
        display: grid;
        height: 100vh;
        background-color: rgba(124, 124, 124, 0.121);
        grid-template-columns: 10fr 8fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
            'hd hd'
            'fa ka'
            'fa ka'
            'gn gn'
            'ft ft'
    }


    #sn2 {
        font-size: 1rem;
    }

    a {
        font-size: 1.5rem;
    }

    #s2 {
        grid-area: ss;
        margin: 1rem;
        display: flex;
        background-image: url(../img/siriuss.jpg);
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items:center;
        font-size: 1.5rem;
        color: white;
    
    }
    
}

.om_bergsjon, title{
    font-family: cherry bomb one;
}

.om_bergsjon, topbar{
    font-family: Source Sans Pro;
}

.menu {
    height: 100vh;
    width: 50vw;
    background: rgb(233, 225, 229);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

menu,
li a {
    color: black;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    margin: 10px;
}

.menu-button {
    cursor: pointer;
    display: inline;
    left: 10px;
}

.menu-button i.material-icons {
    font-size: 2.5rem;

}

.show {
    left: 0;
}


.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}

/* Om Bergsjön */
/*--------------------------------------------------------------*/
.om_bergsjon {
    display: grid;
    height: 100vh;
    grid-template-columns: 10fr 8fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
        'hd hd'
        'fa ka'
        'fa ka'
        'gn gn'
        'gn gn'
        'ft ft'
}

header {
    grid-area: hd;

}

#fakta {
    grid-area: fa;
    color: rgb(8, 9, 8);
    padding: 10px;
    font-family: Source Sans Pro;
}

#fakta h1{
    font-family: cherry bomb one;
 
}

#karta {
    grid-area: ka;
    padding: 10px;
}

iframe {
    width: 100%;
    height: 300px;


}

.gatunamn{
    grid-area: gn;
    padding: 10px;
    margin-top: 80px;
    font-family: Source Sans Pro;

}
.gatunamn, ul, li{
    font-family: Source Sans Pro

}

footer {
    grid-area: ft;

}


.gatunamn h2{
    font-size: medium;
}

/*--------------------------------------------------------------*/

.mat_bergsjon {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'hd hd'
        'ar ar'
        'me me'
        'ft ft'

}

header {
    grid-area: hd;
    color: rgb(252, 255, 252);
    margin: 0;
    background-image: url(../img/teleskop_liten.jpg);    
    background-size: cover;
    background-position: center;
    align-items: center;

}

.titel {
    text-align: center;
    color: rgb(255, 255, 255);


}

article {
    grid-area: ar;
    color: rgb(15, 5, 5);
    padding: 8px;
}

.mat {
    display: flex;
    grid-area: me;
    flex-direction: column;
    align-items: center;
    padding:1px;
}


.mat-item1 img {
    width: 380px;
    height: 280px;
    padding: 10px;

}

.mat-item2 p {
    padding: 10px;
    margin:3px;
    font-family: monospace;


}

footer {
    grid-area: ft;
    display: flex;
    border: double;
    background-color: rgba(124, 124, 124, 0.121);

}

/* Anpassad för datorskärm, sålänge sidan är större än 450px kommer det här att hända*/

@media(min-width: 450px) {
    .menu-button {
        display: none
    }

    .menu-button i.material-icons {
        display: none;

    }

    #sn2 {
        font-size: 2rem;
    }



    .om_bergsjon {
        display: grid;
        height: 100vh;
        background-color: rgba(124, 124, 124, 0.121);
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
            'hd hd hd'
            'tb tb tb'
            'fa fa ka'
            'fa fa ka'
            'gn gn gn'
            'ft ft ft'
    }


    .topbar {
        grid-area: tb;
        display: flex;
        background-color: rgba(222, 199, 183, 0.249);
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
        color: aliceblue;
        font-size: 1.5rem;

    }

    #fakta {
        grid-area: fa;
        color: rgb(8, 9, 8);
        padding: 10px;

    }

    #karta {
        grid-area: ka;
        padding: 10px;
    }


    .gatunamn {
        grid-area: gn;
        padding: 10px;
        margin-top: 100px;
    }
    
    .mat {
        display: flex;
        grid-area: me;
        flex-direction: row;
        flex-wrap: wrap;

    }

    
    
}
